.container{

}

.pContainer{
  height: 80vh;
  /* overflow: scroll; */
  display: flex;
  justify-content: center; 
  align-items: center;
}
.products{
  display:  grid;
  gap: 30px;
  grid-column: 2;
  grid-template-columns: auto auto auto auto;
  width: 80%;
  margin: auto;
}
.product-card{
  border-radius: 20px;
  background: grey;
  /* background-color:  red; */

}
.product-card img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* border-radius: 20px; */

  width: 100%;
}