.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
  align-items: center;
  /* background-color:  red; */
  width: 80%;
  margin: auto;
}

.nav-menu{
  text-decoration:  none;
}

.nav-item{
  text-decoration: none;
  margin: 0 15px;
}