

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}

.logo{
  font-size: 35px;
  text-decoration: none;
}
.nav-menu{
  text-decoration:  none;
}

.nav-item{
  text-decoration: none;
  margin: 0 15px;
}